<div class="container">
    <h2>Вход</h2>
    <form>
y        <label for="username">Имя пользователя:</label>
        <input [(ngModel)]="user.login" type="text" placeholder="Ваш login" id="username" name="name"><br>
        <label for="password">Пароль:</label>
        <input type="password" [(ngModel)]="user.password" placeholder="name" placeholder="Ваш password"
            id="password"><br>
        <input type="submit" (click)="Registration()" value="Регистрация">
        <input type="submit" (click)="Loginnn(user)" value="Войти">

    </form>
</div>