<div class="container">
    <br>
    <br><br>
    <div class="alert alert-success"> <!--alert-success alert-dark -->
        Характеристики пользователя {{user.login}}: 
        <div >  <img class="photoUser"  src= {{user.photo}} > </div>
       
        <div  class="pading">Имя: {{user.name}}</div>
        <div  class="pading">День рождения: {{user.birthday}}</div>
        <div  class="pading">Почта: {{user.email}}</div>
        <div  class="pading">Деньги: {{user.many}}</div>
        <div  class="pading">Номер телефона: {{user.phonenomber}}</div>
        
        
       

        <!-- <ul class="Haracteristik"> <img class="autoPhotos" src="{{newHotel.path_picturs}}" class="auto" alt="dsffaesgarf"> -->
            <!-- <li>ID номера: <strong>{{newHotel.id}}</strong></li> -->
        <!-- </ul> -->
    </div>
    <button class="IdetInfo"   (click)="EditButtonInfo()">Хочу изменить информацию</button>
    <form *ngIf="isEdit">
    <body>
        <div>Имя</div>
        <input type="text" placeholder="Имя" class="form-control" [(ngModel)]="user.name" name="name"><br>
        <div>Ваш день рождения</div>
        <input type="text" placeholder="день рождения" class="form-control" [(ngModel)]="user.birthday"  name="birthday"><br>
        <div>Ваша почта</div>
        <input type="text" placeholder="Почта" class="form-control" [(ngModel)]="user.email"  name="email"><br>
        <div>Доступные фингансы</div>
        <input type="text" placeholder="Деньги" class="form-control" [(ngModel)]="user.many"  name="many"><br>
        <div>Ваш номер телефона</div>
        <input type="text" placeholder="Телефон" class="form-control" [(ngModel)]="user.phonenomber"  name="phonenomber"><br>
        <div>Ваше фото</div>
        <input type="text" placeholder="Фото" class="form-control" [(ngModel)]="user.photo"  name="photo"><br>
        <button class="btn btn-warning " (click)="Save()">Сохранить</button>


        <!--           
        <button class="Cancel" (click)="Cancel()">Cancel</button>
        <button class="save" (click)="savehotelsToStorage()">Save</button> -->
        </body>   
         </form>
