<div class="container">
    <br>
    <br><br>
    <div class="alert alert-success"> <!--alert-success alert-dark -->
        User Characteristics {{user.login}}:
        <div> <img class="photoUser" src={{user.photo}}> </div>

        <div class="pading">Name: {{user.username}}</div>
        <div class="pading">Birthday: {{user.birthday}}</div>
        <div class="pading">Mail: {{user.email}}</div>
        <div class="pading">Money: {{user.many}}</div>
        <div class="pading">Phone number: {{user.phonenomber}}</div>
    </div>
    <button class="IdetInfo" (click)="EditButtonInfo()">I want to change the information</button>
    <form *ngIf="isEdit">
        <div>Name</div>
        <input type="text" placeholder="Name" class="form-control" [(ngModel)]="user.username" name="username"><br>
        <div>Birthday</div>
        <input type="text" placeholder="Birthday" class="form-control" [(ngModel)]="user.birthday"
            name="birthday"><br>
        <div>Mail</div>
        <input type="text" placeholder="Mail" class="form-control" [(ngModel)]="user.email" name="email"><br>
        <div>Available finance</div>
        <input type="text" placeholder="Available finance" class="form-control" [(ngModel)]="user.many" name="many"><br>
        <div>Your phone number</div>
        <input type="text" placeholder="phone number" class="form-control" [(ngModel)]="user.phonenomber"
            name="phonenomber"><br>
        <div>Your photo</div>
        <input type="text" placeholder="Your photo" class="form-control" [(ngModel)]="user.photo" name="photo"><br>
        <button class="IdetInfo" (click)="Save()">Save</button>
        <!--           
        <button class="Cancel" (click)="Cancel()">Cancel</button>
        <button class="save" (click)="savehotelsToStorage()">Save</button> -->

    </form>
    <br>
    <div *ngFor="let roomBooking of roomBookings">
        <br>
        <div *ngIf="roomBooking !== null && roomBooking !== undefined" class="alert alert-success">
            <!--alert-success alert-dark -->
            Room Information:
            <ul class="Haracteristik">
                <!-- <img class="RoomlPhotos" src="{{roomBooking.path_picture}}" class="auto" alt="Photo"> -->
                <li>Hotel ID: <strong>{{roomBooking.id}}</strong></li>
                <li>Number: <strong>{{roomBooking.number}}</strong></li>
                <li>Payed: <strong>{{roomBooking.payed}}</strong> </li>

                <div>Room booked from {{roomBooking.date_from| date:'HH:mm dd.MM.yyyy'}} to {{roomBooking.date_to|
                    date:'HH:mm dd.MM.yyyy'}}</div>
            </ul>
        </div>
        
        <button class="btn departure" (click)="Departure(roomBooking.id)">Cancel a reservation for a 
            {{roomBooking.name}}</button>
    </div>