<br>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, if you have any questions, you can contact Us</h1>
    <p>I don't have time and ideas of what to insert here, so keep the cat)</p>
    <p><a class="btn btn-primary btn-lg"  role="button" (click)="ChecCat()">Get a cat</a></p>
    <div  *ngIf="cat" class="image-container">
      <img src="https://img2.reactor.cc/pics/post/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-art-%D0%BA%D0%BE%D1%82-Amy-McCullough-5238842.jpeg" alt="Cat" />
    </div>   
  </div>
</div>
