@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Rajdhani:wght@300;400&display=swap");

@media (max-width: 767px) {
  .kursachWort {
    font-size: 15pt;
    margin-top: 10px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(78, 78, 78);
    transition: all 1s;
    font-family: "Fascinate", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .kursachWort:hover {
    color: rgb(27, 35, 42);
    scale: 1;
  }

  .loginBtnn {
    display: block;
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(78, 78, 78);
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    margin-top: -60px;
    margin-left: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .kursachWort {
    font-size: 20pt;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(78, 78, 78);
    transition: all 1s;
    font-family: "Fascinate", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .kursachWort:hover {
    color: rgb(27, 35, 42);
    scale: 1;
  }

  .loginBtnn {
    display: block;
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(78, 78, 78);
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    margin-left: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .kursachWort {
    font-size: 30pt;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: rgb(78, 78, 78);
    transition: all 1s;
    font-family: "Fascinate", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .kursachWort:hover {
    color: rgb(27, 35, 42);
    scale: 1;
  }

  .loginBtnn {
    display: block;
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #394967;
    background-color: #394967;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    margin-left: 400px;
  }
}
@media (min-width: 1200px){
  .kursachWort {
    font-size: 30pt;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: rgb(78, 78, 78);
    transition: all 1s;
    font-family: "Fascinate", sans-serif;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
  }

  .kursachWort:hover {
    color: rgb(27, 35, 42);
    scale: 1;
  }

  
}

/* .hotel{
  left: 160px;
  transition: transform 0.25s;
} */
.room{
  left: 80px;
  transition: transform 0.25s;
}
.infText {
  position: absolute;
  font-size: 15px;
  top: 20px;
  color: rgb(78, 78, 78);
}

.animaite:hover {
  transform: scale(0.9);
}

.font-weight-normal {
  margin-left: auto;
  margin-right: auto;
  position: absolut;
}

.main {
  left: 10px;
  transition: transform 0.25s;
}

.contacts {
  left: 145px;
  transition: transform 0.25s;
}


.loginBtn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  background-color: #485c81;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}

.loginBtn:focus-visible {
  box-shadow: 0 0 0 2px #666;
}

.loginBtn:hover {
  background-color: #d1d5dc;
}

.loginBtn:active {
  transform: scale(0.96);
}

.loginBtn:focus-visible {
  box-shadow: 0 0 0 2px #666;
}

.loginBtn:hover {
  color: #212223;
}

.loginBtn:active {
  transform: scale(0.96);
}


.admin {
  left: 410px;
  transition: transform 0.25s;
}
.manager {
  left: 325px;
  transition: transform 0.25s;
}
.acount {
  left: 225px;
  transition: transform 0.25s;
}

.home {
  left: 320px;
}