<div class="allInformation">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class=" kursachWort my-0 mr-md-auto font-weight-normal kursach">HOTELFORYOU</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 main infText animaite" routerLink="/" >Главная</a>
      <!-- <a class="p-2 home infText animaite" routerLink="/home" >Hotels</a> -->
      <a class="p-2 contacts infText animaite" routerLink="/about">Контакты</a>
      <a  *ngIf="isEdit" class="p-2 acount infText animaite" routerLink="/account">Мой аккаунт</a>
      <a   *ngIf="isEditAdmin" class="p-2 admin infText animaite" routerLink="/admin">Админ</a>
      <a   *ngIf="isEditManager" class="p-2 manager infText animaite" routerLink="/manager">Менеджер</a>

<!-- так а на каой менять инфу просто скрфть показать др кнопку -->
    </nav>

      <button class="loginBtn" (click)="loginBtn()">{{buttonInfo}}</button>
     
  </div>
</div>