<div class="container">
    <table class="tablica" class="Perenos">
        <tr>
            <th height="40">id </th>
            <th>Name</th>
            <th>Manager ID</th>
            <th>IMG</th>
            
            <th colspan="3" class="lastTh">button</th>
        </tr>
        <tr *ngFor="let hotel of hotels">
            <td>
                <div class="tablic">{{hotel.id}}
                </div>
            </td>
            <td>
                <div>{{hotel.name}}</div>
             
            </td>
            <td>
                <div class="tablic">{{hotel.manager_id}}
                </div>
            </td>
            <td>
                <div class="tablic" class="thImg"><img class="imgTabel" src={{hotel.path_picture[0]}}></div>
                    <div class="tablic" class="thImg"><img class="imgTabel" src={{hotel.path_picture[1]}}></div>
            </td>
                  
           
            <td class="lastTh">
                <button class="btn btn-warning btn-sm" (click)="Edithotel(hotel)">Edit hotel</button>
            </td>
            <td >
                <button class="btn btn-warning btn-sm" (click)="EditRoom(hotel)">Edit room</button>
            </td>
            <td class="lastTh">
                <button class="btn btn-sm btn-danger" (click)="deletehotel(hotel.id)">Del hotel</button>
            </td>
        </tr>
    </table>

    <br>

    <div class="centr">
        <button class="Addhotel" (click)="AddButtonhotel()">I want to add a new hotel</button>
        <form *ngIf="isEdit" #myForm="ngForm">
            <input type="text" placeholder="Name of the hotel" class="form-control" [(ngModel)]="newHotel.name" name="name"><br>
            <input type="text" placeholder="Manager's ID" class="form-control" [(ngModel)]="newHotel.manager_id" name="people"><br>
            <input type="text" placeholder="picture of the hotel" class="form-control" [(ngModel)]="newHotel.path_picture" name="hotel.path_picture"><br>
            <input type="text" placeholder="Services of the hotel" class="form-control" [(ngModel)]="newHotel.services" name="hotel.services"><br>
            <button class="btn btn-warning btn-sm" (click)="Addhotel(newHotel)">Add</button>            
          </form>
          
        
    </div>
</div>