@media (max-width: 2000px) and (min-width: 1200px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .imgTabel {
    width: 300px;
  }

  .lastTh {
    width: 180px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 90px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 20px;
  }

  button {
    margin: 10px;
    font-size: 17px;
    scale: 1.2;
    display: inline-block;
  }

  .thImg {
    width: 400px;
    display: block;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 1200px) and (min-width: 999px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    width: 95%;
  }

  .imgTabel {
    width: 140px;
  }

  .lastTh {
    width: 100px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 90px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 20px;
  }

  button {
    margin: 10px;
    font-size: 17px;
    scale: 1.2;
    display: inline-block;
  }

  .thImg {
    width: 150px;
    display: block;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 999px) and (min-width: 839px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .imgTabel {
    width: 140px;
  }

  .lastTh {
    width: 100px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 90px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 20px;
  }

  button {
    margin: 10px;
    font-size: 15px;
    scale: 1;
    display: inline-block;
  }

  .thImg {
    width: 150px;
    display: block;
    word-wrap: break-word;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 839px) and (min-width: 600px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
  }

  .imgTabel {
    width: 120px;
  }

  .lastTh {
    width: 90px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 90px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 16px;
  }

  button {
    margin: 10px;
    font-size: 12px;
    scale: 0.8;
    display: inline-block;
  }

  .thImg {
    width: 130px;
    display: block;
    word-wrap: break-word;
    text-align: center;

  }
}

@media (max-width: 600px) and (min-width: 400px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 11px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
  }

  .imgTabel {
    width: 90px;
  }

  .lastTh {
    width: 90px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 90px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 13px;
  }

  button {
    margin: 10px;
    font-size: 12px;
    scale: 0.7;
    display: inline-block;
  }

  .thImg {
    width: 110px;
    display: block;
    word-wrap: break-word;
    text-align: center;

  }
}

@media (max-width: 400px) and (min-width: 0px) {
  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 9px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: auto;
    width: 10%;
  }

  .imgTabel {
    width: 60px;
  }

  .lastTh {
    width: 50px;
  }

  th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    width: 50px;
  }

  th {
    background: #75a2b9;
    color: #014753;
    text-shadow: 0 1px 1px #ffffff;
    font-size: 8px;
  }

  button {
    margin: 10px;
    font-size: 8px;
    scale: 0.6;
    display: inline-block;
  }

  .thImg {
    width: 60px;
    display: block;
    word-wrap: break-word;
    text-align: center;

  }
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child,
td:first-child {
  text-align: center;
}

th:first-child {
  border-top-left-radius: 10px;
}

td {
  /* padding: 10px 20px; */
  background: #aacfe2;
  /* background: #f8e391; */
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

button {
  margin: 10px;
  font-size: 15px;
}

.Addhotel {
  margin: auto;
  display: block;
  top: 5px;
  border-radius: 10px 10px 10px 10px;
  /*Закругляем уголки*/
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.form-control {
  margin-top: 15px;
}

input {
  width: 100%;
}

.centr {
  margin: auto;
}

.inputtext {
  background-color: #f6f6f6;
  /*Цвет текстового поля*/
  border-radius: 10px 10px 10px 10px;
  /*Закругляем уголки*/
  width: 95%;
}

.Perenos {
  display: block;
  word-wrap: break-word;
  text-align: center;
}

.pictur {
  width: 150px;
  margin-top: 5%;
}

.tex{
  padding-left:10px;
  padding-right:10px;
}
