<div class="container">
    <br>
    <br><br>
     <div class="alert alert-success"> <!--alert-success alert-dark -->
        Информация об отеля:
        <ul class="Haracteristik">
            <img class="HotelPhotos" src="{{newHotel.path_picture}}" class="auto" alt="Photo">
            <li>ID отеля: <strong>{{newHotel.id}}</strong></li>
            <li>Имя отеля: <strong>{{newHotel.name}}</strong></li>
            <li>ID менеджера: <strong>{{newHotel.manager_id}}</strong> </li>
            <div class="toBook">
            <button class="btn bk" (click)="toBook(newHotel)">{{deistveSnomerom}} {{newHotel.name}}</button> <!-- <a routerLink="/toBook"></a> -->
            </div>
        </ul>
    </div>

<div *ngIf="isEditNomer">
    <h5>Выберите отель</h5>
    <div class="hotelName" *ngFor="let hotel of hotels">
        <button class="btn btn-danger" (click)="hotelselect(hotel.name)">{{hotel.name}}</button>
    </div>
    <br><br>
</div>
 



</div>