<body>
<div>Название</div>
<input type="text" placeholder="Название номера" class="form-control" [(ngModel)]="editedHotel.name" name="name"><br>
<div>Колличесво людей</div>
<input type="text" placeholder="Колличесво людей" class="form-control" [(ngModel)]="editedHotel.speed"><br>
<div>Path_picturs</div>
<input type="text" placeholder="Path_picturs" class="form-control" [(ngModel)]="editedHotel.path_picturs"><br>
<div>Path_icons</div>
<input type="text" placeholder="Path_icons" class="form-control" [(ngModel)]="editedHotel.path_icons"><br>
<div>Path_json</div>
<input type="text" placeholder="Path_json" class="form-control" [(ngModel)]="editedHotel.path_json"><br>
<div>Cost</div>
<input type="text" placeholder="cost" class="form-control" [(ngModel)]="editedHotel.cost"><br>
<button class="Cancel" (click)="Cancel()">Cancel</button>
<button class="save" (click)="savehotelsToStorage()">Save</button>
</body>
<!-- <button (click)="helloFunction();">Click Me</button> -->