<div class="container">
    <table class="tablica" class="Perenos">
        <tr>
            <th height="40">id </th>
            <th>Имя</th>
            <th>ID менеджера</th>
            <th>IMG</th>
            
            <th colspan="2" class="lastTh">button</th>
        </tr>
        <tr *ngFor="let hotel of hotels">
            <td>
                <div class="tablic">{{hotel.id}}
                </div>
            </td>
            <td>
                <div>{{hotel.name}}</div>
                <!-- <input type="text" placeholder="Название машины" class="form-control" [(ngModel)]="hotel.name" name="name"
                    (ngModelChange)="savehotelsToStorage()"><br> -->
            </td>
            <td>
                <div class="tablic">{{hotel.manager_id}}
                </div>
            </td>
            <td>
                <div class="tablic" class="thImg"><img class="imgTabel" src={{hotel.path_picture[0]}}></div>
                    <div class="tablic" class="thImg"><img class="imgTabel" src={{hotel.path_picture[1]}}></div>
            </td>
                  
           
            <td class="lastTh">
                <button class="btn btn-warning btn-sm" (click)="Edithotel(hotel)">Edit hotel</button>
            </td>
            <td class="lastTh">
                <button class="btn btn-sm btn-danger" (click)="deletehotel(hotel.id)">Del hotel</button>
            </td>
        </tr>
    </table>

    <br>

    <div class="centr">
        <button class="Addhotel" (click)="AddButtonhotel()">Хочу добавить новый номер</button>
        <form *ngIf="isEdit" #myForm="ngForm">
            <input type="text" placeholder="Название отеля" class="form-control" [(ngModel)]="newHotel.name"
                name="name"><br>
            <input type="text" placeholder="Id менеджера" class="form-control" [(ngModel)]="newHotel.manager_id"
                name="people"><br>
            <input type="text" placeholder="hotel.path_picture" class="form-control" [(ngModel)]="newHotel.path_picture"
                name="hotel.path_picture"><br>
            
            <button class="btn btn-warning btn-sm" (click)="Addhotel(newHotel)">Добавить</button>
        </form>
        
    </div>
</div>