<body>
    <form [formGroup]="bookingForm" (ngSubmit)="savehotelsToStorage()">
        <div>Выберетите дату с:</div>
        <input type="date" formControlName="date_from" min="{{editedRoomBoking.date_from}}" max="2023-12-31"><br>
        <div>По:</div>
        <input type="date" formControlName="date_to" min="{{editedRoomBoking.date_from}}" max="2023-12-31"><br>

        <div><strong>Стоимость: {{room.price}} </strong></div>
        <strong>Оплатить номер: <input type="checkbox" formControlName="payed"></strong>
        <div>Сколько людей заезжает в номер:</div>
        <input type="number" step="1" class="form-control" formControlName="number" min="0" max="{{room.number}}">
        <br>
        <div class="brt">
            <button class="Cancel" (click)="Cancel()">Cancel</button>
            <button class="save">Save</button>
        </div>
    </form>
</body>
<!-- <button (click)="helloFunction();">Click Me</button> -->