<body>
    <form [formGroup]="bookingForm" (ngSubmit)="savehotelsToStorage()">
        <div>Select a date from:</div>
        <input type="date" formControlName="date_from" min="{{editedRoomBoking.date_from}}" max="2024-12-31"><br>
        <div>to:</div>
        <input type="date" formControlName="date_to" min="{{editedRoomBoking.date_from}}" max="2024-12-31"><br>

        <div><strong>Cost: {{room.price}} </strong></div>
        <strong>Pay for a room: <input type="checkbox" formControlName="payed"></strong>
        <div>the number of people coming into the room:</div>
        <input type="number" step="1" class="form-control" formControlName="number" min="0" max="{{room.number}}">
        <br>
        <div class="brt">
            <button class="Cancel" (click)="Cancel()">Cancel</button>
            <button class="save">Save</button>
        </div>
    </form>
</body>
<!-- <button (click)="helloFunction();">Click Me</button> -->