button {
  border-radius: 10px 10px 10px 10px;
  position: relative;
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
  font-size: 16px;
}

.brt {
  display: flex;
  justify-content: space-between;
}

.save {
  background: #0ca227;
}

.Cancel {
  background: #a90808;
}

body {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  /* то что ниже можно удалить */
  overflow-x: hidden;
  overflow-y: hidden;
}

input[type="date"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
}
