<body>
    <div>Выберетите дату с:</div>
    <input type="date" id="start" name="trip-start" [(ngModel)]="editedRoomBoking.date_from"
        value="{{editedRoomBoking.date_from}}" min="{{editedRoomBoking.date_from}}" max="2023-12-31"><br>
    <div>По:</div>
    <input type="date" id="start2" name="trip-start2" [(ngModel)]="editedRoomBoking.date_to"
        value="{{editedRoomBoking.date_to}}" min="{{editedRoomBoking.date_from}}" max="2023-12-31"><br>
   
    <div><strong>Стоимость: {{room.price}} </strong></div>
        <strong>Оплатить номер: <input type="checkbox" [(ngModel)]="editedRoomBoking.payed"></strong>
    <div>Сколько людей заезжает в номер:</div>
    <input type="number" step="1" class="form-control" [(ngModel)]="editedRoomBoking.number" min="0" max="{{room.number}}">
   <br><div class="brt">
    <button class="Cancel" (click)="Cancel()">Cancel</button>
    <button class="save" (click)="savehotelsToStorage()">Save</button>
</div>
</body>
<!-- <button (click)="helloFunction();">Click Me</button> -->