<body>
    <div>Имя</div>
    <input type="text" placeholder="Имя" class="form-control" [(ngModel)]="edituser.name" name="name"><br>
    <div>Login</div>
    <input type="text" placeholder="Login" class="form-control" [(ngModel)]="edituser.login"><br>
    <div>Password</div>
    <input type="text" placeholder="Password" class="form-control" [(ngModel)]="edituser.password"><br>
    <div>Path_photo</div>
    <input type="text" placeholder="Path_photo" class="form-control" [(ngModel)]="edituser.photo"><br>
    <button class="Cancel" (click)="Cancel()">Cancel</button>
    <button class="save" (click)="savehotelsToStorage()">Save</button>
    </body>
