.test {
  display: inline-block;
}

.polaroid {
  position: relative;
  display: inline-block;
  margin-right: 8%;
  padding-bottom: 20px;
}

.alert-success {
  background-color: #e9eef6;
  border: none;

}

.polaroid img {
  float: right;
  border: 10px solid#f5f8fd;
  border-bottom: 45px solid #f5f8fd;
  -webkit-box-shadow: 3px 3px 3px #2a354963;
  -moz-box-shadow: 3px 3px 3px #2a354964;
  box-shadow: 3px 3px 3px #2a354964;
  margin: 20px;
}



.inf p {
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bagel Fat One', cursive;
  font-family: 'Geologica', sans-serif;
  font-size: 1.2rem;
  color: #1a202a;
}

.phot {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 5px;
}

.btn {
  background-color: #394967;
  border: none;
  outline: none;
}

.btn:hover {
  background-color: #d1d5dc;

}

.btn-sss {
  margin-bottom: 20px;
}

.bk {
  color: #ffffff;
}
.bk:hover {
  color: #212223;
}

.btn-sm {
  font-size: 0.8em;
  padding: 5px;
  line-height: 8px;
}

.container {
  margin-bottom: 50px;
  text-align: center;
  margin-right: auto;
}

.auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.hotelName {
  display: inline-block;
}

.HotelPhotos {
  overflow: hidden;
}

.stillInfAto {
  text-align: center;
}

.Haracteristik {
  font-size: 15px;
  text-align: left;

}

.imgMini {
  width: 40%;
}

.toBook {
  display: block;
  text-align: center;
  margin-right: auto;
}


input {

  margin: 5px;
  border-radius: 5px;
  background-color: rgb(243, 245, 248);
  color: rgb(8, 3, 0);
  outline: none !important;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.infErr {
  color: rgb(46, 63, 50);
  font-size: 16px;
}

.test:active,
.example:hover,
.example:focus {

  outline: 0;

  outline-offset: 0;

}
