<div class="container">
    <br>
    <br><br>
    <div class="hotelName" *ngFor="let room of rooms">
        <div class="alert alert-success"> <!--alert-success alert-dark -->
            Room Information:
            <ul class="Haracteristik">
                <img class="RoomlPhotos" src="{{room.path_picture}}" class="auto" alt="Photo">
                <li>Hotel ID: <strong>{{room.hotel_id}}</strong></li>
                <li>number: <strong>{{room.number}}</strong></li>
                <li>description: <strong>{{room.description}}</strong> </li>
                <li>price: <strong>{{room.price}}</strong> </li>
                <div *ngFor="let booking of roomBookings">
                    <div *ngIf="booking.room_id === room.id">Room booked from {{booking.date_from| date:'HH:mm
                        dd.MM.yyyy'}} to {{booking.date_to| date:'HH:mm dd.MM.yyyy'}} </div>
                    <br>                    
                </div>
                <div class="toBook">
                    <button class="btn bk" (click)="toBook(room)">{{info}} {{room.name}}</button>
                    <!-- <a routerLink="/toBook"></a> -->
                </div>
            </ul>
        </div>
        

    </div>
    <br><br>

</div>