<body>
    <div class="formRegistration">
        <div class="informationError">{{informationError}} </div><br>
        <div class="inputPlusLabels">
            <div>Login</div>
            <input [(ngModel)]="user.login" type="text" placeholder="Ваш будущий логин" class="form-control" name="name"><br>
            <div>Password</div>
            <input type="password" [(ngModel)]="user.password" placeholder="name" placeholder="Ваш будущий пароль"
                class="form-control"><br>
            <div class="brt">
                <button class="logBtn" (click)="Cancel()">Отмена</button>
                <button class="regBtn" (click)="Registration(user.login,user.password)">Зарегестрироваться</button>
            </div>
        </div>

    </div>
    <!-- <button (click)="change(true)">+</button>
               <button (click)="change(false)">-</button> -->
</body>