<div class="container">
    <br>
    <div class="alert alert-success">
        Характеристики номера:
        <ul class="Haracteristik"> <img class="autoPhotos" src="{{newCar.path_picturs}}" class="auto" alt="dsffaesgarf">
            <li>ID номера: <strong>{{newCar.id}}</strong></li>
            <li>Имя номера: <strong>{{newCar.name}}</strong></li>
            <li>Вместимость: <strong>{{newCar.speed}}</strong> человек</li>
            <!-- <li>Удобства: <strong class="imgMini">{{newCar.path_icons}}</strong></li>             -->
            <li>Удобства: <strong><img  class="imgMini" src="{{newCar.path_icons}}" ></strong></li>  
           
            <p>Описание: {{user?.specification}}</p>
           
            
            в масивы у сторожа будет храниться путь а тут(car compon) будет открытие файла по этому пути
        </ul>
    </div>


    <h5>Выберите автомобиль</h5>
    <div class="CarName" *ngFor="let car of cars">
        <button class="btn btn-danger" (click)="carSelect(car.name)">{{car.name}}</button>
    </div>
    <br><br>


</div>