<div class="container">
    <table class="tablica" class="Perenos">
        <tr>
            <th height="40">id </th>
            <th>Name</th>
            <th>Hotel ID</th>
            <th>IMG</th>
            <th>Number</th>
            <th>Description</th>
            <th>Price</th>
            <th colspan="2" class="lastTh">Button</th>
        </tr>
        <tr *ngFor="let room of rooms">
            <td>
                <div class="tablic">{{room.id}}</div>
            </td>
            <td>
                <div>{{room.name}}</div>
            </td>
            <td>
                <div class="tablic">{{room.hotel_id}}</div>
            </td>
            <td>
                <div class="tablic" class="thImg"><img class="imgTabel" src={{room.path_picture}}></div>
            </td>
            <td>
                <div class="tablic">{{room.number}}</div>
            </td>
            <td>
                <div class="tablic">{{room.description}}</div>
            </td>
            <td>
                <div class="tablic">{{room.price}}</div>
            </td>
            <td class="lastTh">
                <button class="btn btn-warning btn-sm" (click)="Edithotel(room)">Edit room</button>
            </td>
            <td class="lastTh">
                <button class="btn btn-sm btn-danger" (click)="deletehotel(room.id)">Del room</button>
            </td>
        </tr>
    </table>
</div>
